.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3em;
  background-color: #eee;
  border-radius: 8px;
  margin-bottom: 1em;
  text-transform: capitalize;
}

.dot {
  height: 4px;
  width: 4px;
  margin-right: 8px;
  background-color: #000;
  border-radius: 100%;
}

.pulse-animation {
  animation: pulse 1s ease infinite;
}

.animation-delay--1 {
  animation-delay: 0.33s;
}

.animation-delay--2 {
  animation: pulse 1s ease infinite;
  animation-delay: 0.66s;
}

@keyframes pulse {
  0% {
    transform: scale(100%);
  }
  50% {
    transform: scale(250%);
  }
  100% {
    transform: scale(100%);
  }
}
